body {
	margin: 0 auto;
	max-width: 90%;
	padding: 50px 30px;
  	font-family: 'Comic Sans', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {

}

* {
	
}

.logo {
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
	cursor: pointer;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.name {
	font-size: 30px;
}

.nav-tabs {
	list-style: none;

	
}

.nav-item {
	margin-right: 20px;
	font-size: 22px;
}

.navbar-brand {
	align-content: center;
}

.render-block {
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.about-content {
	display: flex;
}

.content-div {
	margin-left: 30px;
	font-size: 22px;
}

.title {
	font-size: 20px;
}

.image img {
	width: 300px;
	height: 200px;
}

.label {
	width: 400px;
}

.footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

a {
	/* color: red; */
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

nav a:hover {
	text-decoration: none;
}

nav li {
	cursor: pointer;
}

header {
	/* background: var(--secondary); */
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	text-align: center;
}

